body {
  font-family: sans-serif;
}

td {
  font: 0.75em sans-serif; 
}

#bar {
  padding: 5px 10px 5px 10px;
  color: #eee;
  font: 0.90em sans-serif;
}

.bar_left {
  float: left;
  width: 75%;
}

.bar_right {
  float: right;
  width: 25%;
  text-align: right;
}

.header {
  margin-bottom: 15px;
}

.container {
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

#example {
  width: 100%;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

form.formtastic.textarea {
  width: 200px;
}

input.sm {
  width: 5% !important;
}

input.med {
  width: 15% !important;
}

input.large {
  width: 25% !important; 
}

textarea.med {
  width: 25% !important;
  height: 150px !important;
}
