development:
  adapter: sqlite3
  database: db/development.sqlite3
  pool: 5
  timeout: 5000

test:
  adapter: sqlite3
  database: db/test.sqlite3
  pool: 5
  timeout: 5000

production:
  adapter: mysql
  encoding: utf8
  pool: 5
  timeout: 5000
  host: somedbhost
  port: 3306
  database: somedb
  username: someusername
  password: somepass
